
li {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    background-color: #f3f5f7;
}



.price {
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.rating {
    font-weight: 700;
}

.items {
    padding: 20px;
    width: 1260px;
    margin-bottom: 50px;
    border: 1px solid red;
}

img {
    padding: 5px;
    margin-top: 20px;
    border: 1px dashed purple;
}

.btn_telegram {
    margin-left: 20px;
}